body {
    background-image:url('images/8.jpg');
    background-repeat: repeat;
  	font-family: 'Convergence', sans-serif;
}



#page_1,
#page_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 40px;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    background-color: white;
    border-style: double;
    border-color: black;
}

#space {
   display: none;
}

.sign_input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #a1c084;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 40px;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 450px;
    box-sizing: border-box;
    background: rgba(105, 162, 176,0.7);
    /*background: rgba(101, 145, 87,0.7);*/
}

h2 {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
}

.btn {
    background-color: #E05263;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

#welcome {
    font-family: 'Convergence', sans-serif;
    color: white;
    font-size: 35px;
}
