body {
  font-family: 'Convergence';
  font-size: 22px;
}
button {
  text-align: center;
  font-size: 13px;
  color: black;
}
input[type=text] {
  line-height: 10px;
  font-size: 16px;
  width: 80%;
  color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bfbfbf;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:#659157;
}
div.username {
  font-size: large;
}
div.transbox {
  margin: 30px;
  border: 1px;
  position: relative;
}
div.transbox p {
  color: black;
  font-size: medium;
}
div.col-sm-3 {
  position: sticky;
  top: 100px;
  padding: 5px;
}
div.col-md-2{
  padding-right: 4em;
}
.answer {
  background-color: #ec5f5f;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.bookmark {
  background-color:#69a2b0;;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 108px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.bookmarked {
  bottom: 8px;
  position: absolute;
  bottom: 0px;
  right: 108px;
  font-size: 18px;
}
.hero-image {
  background-image: url('images/blur2.jpeg');
  position: sticky;
  top: 0;
  padding: 5px;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.label {
  background-color: black;
  color: white;
}
.nbcontainer {
  min-width: 600px;
  margin-top: 100px;
  padding-right: 10em;
  padding-left: 10em;
  padding-bottom: 2em;
}
.row {
  text-align: left;
}
.reply {
  background-color: #659157;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.title {
  text-align: left;
  color: black;
  font-weight: bold;
}
.vote {
  background-color:#659157;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 230px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.voted {
  position: absolute;
  bottom: 0px;
  right: 230px;
  font-size: 18px;
}
.zoom {
  height: 100;
  width: 10;
  transition: transform .2s;
}
.zoom:hover {
    transform: scale(2);
}
/*#topics-well {
  size:15px;
  text-align: left;
}*/
