body {
    font-family: 'Convergence';
    font-size: 22px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bfbfbf;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#659157;
}
.nbcontainer {
    /*padding-top: 2em;*/
    margin-top: 100px;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 2em;
}

.hero-image {
    background-image: url('images/blur2.jpeg');
    position: sticky;
    top: 0;
    padding: 0px;
    height: 50%;
    width: 100%;
    height: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
div.username {
    font-size: large;
}

div.transbox {
    margin: 30px;
    border: 1px;
    position: relative;
}

div.transbox p {
    color: black;
    font-size: medium;
}
.vote {
    /*display: inline-block;*/
    /*overflow: hidden;*/
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('http://i.stack.imgur.com/iqN2k.png');
    background-position: 0 -25px;
    position: absolute;
    bottom: 8px;
    right: 240px;
}
.vote.on {
    background-position: 0 2px;
}
.label {
    /*background-color: #a1c084;*/
    background-color: black;
    color: white;
}
.row {
    text-align: left;
}

div.col-md-3 {
    /*position: relative;;*/
    position: sticky;
    top: 100px;
    padding: 5px;
    /*background-color: #69a2b0;*/
    /*padding: 2em;*/
}
div.col-md-2{
    padding-right: 4em;
}
button {
    /*width: 20%;*/
    text-align: center;
    font-size: 13px;
    color: black;
}
input , input[type=text] {
    line-height: 10px;
    font-size: 16px;
    width: 80%;
    color: black;
}

.title {
    text-align: left;
    color: black;
    font-weight: bold;
}
.answer {
    background-color: #ec5f5f;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.reply {
    background-color: #659157;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.bookmark {
    background-color:#69a2b0;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 115px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.vote {
    background-color:#69a2b0;;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 230px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.zoom {
    height: 100;
    width: 10;
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(2);
}

