body {
  font-family: 'Convergence';
  font-size: 22px;
}
ul {
    list-style-type: none;
    margin-bottom: 0.3em;
    padding: 0;
    overflow: hidden;
    background-color: #bfbfbf;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#659157;
}
input , input[type=text] {
  line-height: 10px;
  font-size: 16px;
  width: 60%;
}
div.transbox {
  margin-top: 30px;
  border: 1px;
  position: relative;
}

div.transbox p {
  /*margin: 5%;*/
  /*font-weight: bold;*/
  color: black;
  font-size: medium;
  /*opacity: 0.75;*/

}
div.col-sm-3 {
  /*position: relative;;*/
  position: sticky;
  top: 100px;
  padding-top:50px;
  /*padding-left: 80px;*/
  /*background-color: #69a2b0;*/
  /*padding: 2em;*/
}
div.col-md-2{
  padding-right: 4em;
}
.hero-image {
  background-image: url('images/blur2.jpeg');
  position: sticky;
  top: 0;
  padding: 5px;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.nbcontainer {
  /*padding-top: 2em;*/
  margin-top: 99px;
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 2em;*/
}

.following {
   font-size: 18px;
   border-color: grey
}

.search {
    background-color: #ec5f5f;
    color: white;
   font-size: 15px;
    /*padding: 14px 20px;*/
    margin-left: 5px;
    border: none;
    cursor: pointer;
    /*width: 50%;*/
}
.name {
    text-align: left;
    color: black;
    font-weight: bold;
}
