

<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto m-1">

            <form action="{{url_for('home') }}">
                <button id="home_feed_but" name="home_feed_but" value="home_feed_but">Home Feed</button>
            </form>
            <form action="{{url_for('profile', username=session.username) }}">
                <button id="profile_home_but" name="profile_home_but" value="profile_home_but">Profile Home</button>
            </form>
            <form action="{{url_for('profile_settings') }}">
                <button id="profile_settings_but" name="profile_settings_but" value="profile_settings_but">Profile Settings</button>
            </form>

        </ul>
    </div>
</nav>
