{% block body %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="home.css")}}">
        <title>Melon Heads!</title>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="hero-image" style="min-height: 100px">
            <div class="hero-text">
              <h1 style="font-size: 50px"> Watermelon </h1>
            </div>
          </div>
        </nav>

        <div class="nbcontainer">
          <div class="row">
            <div class="col-md-3">

              <div class="well">
                {% if user['photo'] %}
                <image id="profile_picture_settings" src="../static/profile_images/{{ user['photo'] }}" height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                {% else %}
                <image id="profile_picture_settings" src="../static/images/melon_aiv.jpg"  height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                {% endif %}
                <h4>Hello, {{user['name']}}</h4>
                <h4><span class="label label-default">followers: {{follower_count}}</span>
                <span class="label label-default">following: {{following_count}}</span></h4>
                <form action="{{url_for('profile', username=session.username)}}">
                  <button>My Profile</button>
                </form>
                <form action="{{url_for('logout')}}">
                  <button>Logout</button>
                </form>
              </div>

              <div class="well" id="topics-well">
                <form method="post" action="{{url_for('post_question')}}">
                  <p><input type="text" name="text" placeholder="post a question"></p>

                  <input type="checkbox" class="topic" name="food">food</br>
                  <input type="checkbox" class="topic" name="movies science" value="movies">movies</br>
                  <input type="checkbox" class="topic" name="fashion" value="fashion">fashion</br>
                  <input type="checkbox" class="topic" name="diy" value="diy">DIY</br>
                  <input type="checkbox" class="topic" name="science" value="science">science<br>
                  <button type="submit" class="search">post</button>
                  {% include 'includes/_messages.html'%}
                </form>
              </div>

            </div>
            <div class="col-md-6">
              {%for f in feed %}
              <div>
                  <input type="hidden" name="q_id" value="{{f["q_id"]}}">
                  <div class="transbox">
                    <div class="row">
                      <a href="{{url_for('question_answers', q_id=f['q_id'])}}" class="title">{{f["question"]}}</br></a>
                    </br>

                    {% if f["name"] != "" %}
                      <div class="col-md-2">
                        {% if f['thumbnail'] %}
                        <image id="profile_picture_settings" class="zoom" src="../static/profile_images/{{ f['thumbnail'] }}" height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                        {% else %}
                        <image id="profile_picture_settings" class="zoom" src="../static/images/melon_aiv.jpg"  height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                        {% endif %}
                      </div>
                      <div class="col-md-10">

                        <p style="font-size: 25px">{{f["name"]}}</p>
                        <p> {{f["time"]}} </p>
                        <p style="font-size: 20px">{{f["content"]}}</p>
                      </br>
                      </div>

                  </br>
                  {{f["upvotes"]}} Upvote(s)
                  <form method="post" action="{{url_for('vote', q_id=f["q_id"], a_id=f["a_id"], loc="home")}}" style="text-align: right;">
                    <!-- <input type="hidden" name="a_id" value="{{f["a_id"]}}"> -->
                    <button type="submit" class="{{f["class_upvote"]}}">Vote</button>
                  </form>
                  {% endif %}

                  <form method="post" action="{{url_for('bookmark', q_id=f["q_id"], loc="home")}}" style="text-align: right;">
                    <button type="submit" class="{{f["class_bookmark"]}}">Bookmark</button>
                  </form>

                  <form method="post" action="{{url_for('post_answer', q_id=f["q_id"], loc="home")}}">
                  <button data-toggle="collapse" data-target="#{{f['q_id']}}" type="button" class="btn answer">Answer</button>
                  <div id="{{f["q_id"]}}" class="collapse">
                      <p><label><input type="text" size="55%" class="reply-area" name="answer"><button type="submit" class="reply">post</button></label></p>
                  </div>
                  </form>
                </div>
                <hr />
                </div>
              </div>
              {% endfor %}
              </div>

                <div class="col-md-3">
                  <div class="well">
                      <form method="get" action="{{url_for('home')}}">
                        <p>Sort by &nbsp;<button type="submit" value="time" name="key" class="btn reply">most recent</button>
                          <button type="submit" name="key" value="upvotes" class="btn reply">upvotes</button>
                        </p>
                      </form>
                  </div>

                    <div class="well">
                        <form method="post" action="{{url_for('search')}}">
                            <p><input type="text" name="search" placeholder="search...">&nbsp;<button type="submit" class="search">Search</button></p>
                        </form>
                    </div>
                    <form>
                      <div class="well">
                      <h1>Suggestions</h1>
                      {% for s in suggest %}
                      <a href="{{url_for('profile', username=s['username'])}}">{{s['username']}} </br></a>
                        {% endfor %}
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </body>

</html>
{% endblock %}
