<!--Help: https://www.w3schools.com/howto/howto_css_signup_form.asp-->
<!--Help: https://www.youtube.com/watch?v=ylFLVBbB9AM -->
<!DOCTYPE html>
<html>
    <head>
        <title>MelonHeads</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <link href="https://fonts.googleapis.com/css?family=Convergence" rel="stylesheet">
        <!--<script src="../static/home.js"></script>-->
    </head>
    <script>
    function register() {
        document.getElementById('page_1').style.display='block'; document.getElementById('space').style.display='block';
    }

    function check() {

        var username = document.getElementById("un");
        var password = document.getElementById("pw");
        var display = document.getElementById("dis");

        var un_patt = /^[a-zA-Z0-9]{5,15}/;
        var pw_patt = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[,.!?])[A-Za-z0-9,.!?]{8,}/;

        if (username.value === "" || password.value === "" || display.value === "") {
            alert("Please fill in all the fields!");
        } else if (!un_patt.test(username.value)) {
          alert("Username must begin with an uppercase letter and must be at least 5 or more characters:");
        } else if (!pw_patt.test(password.value)) {
          alert("Password must contain at least one number, one uppercase and lowercase letter, one punctuation mark and at least 8 or more characters");
        } else {
            document.getElementById('page_1').style.display='none';
            document.getElementById('page_2').style.display='block';
        }
    }

    function first_cancel() {
        document.getElementById('page_1').style.display='none'; document.getElementById('space').style.display='none';
    }

    function second_cancel() {
        document.getElementById('page_2').style.display='none'; document.getElementById('page_1').style.display='none';
        document.getElementById('space').style.display='none';
    }
    </script>
    <body>
        <div class="login">
            <h2 id="welcome">WELCOME, PIP!</h2>
            <button onclick="register()" class="btn btn-block" id="sign-btn">SIGN UP</button>
            <div id="space">
                <form class="form-control sign" action="{{url_for('register') }}" method="post">
                    <div id="page_1" class="modal">
                        <h2>JOIN NOW!</h2>
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <div>
                            <input class="sign_input" type="text" placeholder="Enter Username" id="un" name="username">
                        </div>
                        <div>
                            <input class="sign_input"type="password" placeholder="Enter Password" id="pw" name="password">
                        </div>
                        <div>
                            <input class="sign_input" type="text" placeholder="Enter Display Name" id="dis" name="display">
                        </div>
                        <button class="btn btn-block" type="button" onclick="first_cancel()" class="cancelbtn">CANCEL</button>
                        <button class="btn btn-block" type="button" onclick="check()" class="signupbtn">NEXT</button>
                    </div>
                    <div id="page_2" class="modal">
                        <h4>TOPICS YOU WANT TO FOLLOW...</h4>
                        <hr>
                        <div>
                            <label class="checkbox"><input name="food" type="checkbox" value="food">Food</label>
                        </div>
                        <div>
                            <label class="checkbox"><input name="movies"type="checkbox" value="movies">Movies</label>
                        </div>
                        <div>
                            <label class="checkbox"><input name="fashion"type="checkbox" value="fashion">Fashion</label>
                        </div>
                        <div>
                            <label class="checkbox"><input name="books"type="checkbox" value="books">Books</label>
                        </div>
                        <div>
                            <label class="checkbox"><input name="diy"type="checkbox" value="diy">DIY</label>
                        </div>
                        <div>
                            <label class="checkbox"><input name="science"type="checkbox" value="science">Science</label>
                        </div>
                        <button class="btn btn-block" type="button" onclick="second_cancel()" class="cancelbtn">CANCEL</button>
                        <button class="btn btn-block" type="submit" class="signupbtn">SIGN UP</button>
                    </div>
                </form>
            </div>
            <form class="form-container" method="post" action="{{ url_for('login') }}" style="padding-top: 15px;">
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-block">LOGIN</button>
                {% include 'includes/_messages.html' %}
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
