{% block body %}
<!DOCTYPE html >
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/profile_settings.css">
      <title>My Profile</title>

    </head>

    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="hero-image" style="min-height: 100px">
          <div class="hero-text">
            <h1 style="font-size: 50px"> Watermelon </h1>
          </div>
        </div>
      </nav>
    <div class="container" style="margin-top:100px;">
      <ul >
       <li><a href="{{url_for('home')}}">Home</a></li>
       <li><a href="{{url_for('profile', username=session.username)}}">Profile</a></li>
     </ul>

        <div class="container">
            <div class="row">

            <div class="well">
              <form action = "{{url_for('upload_file')}}" method = "POST" enctype = "multipart/form-data">
                Change profile pic
                <input type = "file" name = "file" />
                <input type="submit" name="button" style="margin-top:0.5em" value="Upload image" class="btn btn-block" style="max-width: 250px;">
              </form>
            </div>

            <div>
              {{ pic_msg }}
            </div>

                <div class="well">
                    <form id="change_bio" method="post" name="user_bio" value="Upload Bio" action="{{ url_for("profile_settings") }}">
                        Change bio
                        <input id="bio_input" name="bio_input" type="text">
                        <input type="submit" style="margin-top:0.5em" name="button" value="Upload Bio" class="btn btn-block" style="max-width: 250px;">
                    </form>
                </div>

                <div>
                  {{ bio_msg }}
                </div>

                <div class="well">

                      <form id="change_password" method="post" name="user_password" value="Confirm new password" action="{{ url_for("profile_settings") }}">



                          Change password

                          <input type="password" placeholder="New password" id="pw" name="pw" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[,.!?])[A-Za-z0-9,.!?]{8,}$" title="Must contain at least one number, one uppercase and lowercase letter, one punctuation mark and at least 8 or more characters">

                          <input type="submit" style="margin-top:0.5em" name="button" value="Confirm new password" class="btn btn-block" style="max-width: 250px;">

                      </form>

                  </div>

                  <div>

                    {{ pw_msg }}

                  </div>


            </div>
        </div>

</div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </body>
</html>
{% endblock %}
