
{% block body %}
<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../static/profile_settings.css">
        <title>Profile Home</title>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" style="margin:0px; padding:0">
            <div class="hero-image" style="min-height: 100px;">
                <div class="hero-text">
                    <h1 style="font-size: 50px"> Watermelon </h1>
                </div>
            </div>
        </nav>

        <div class="nbcontainer">
        <div class="well"  style="padding-bottom: 1px;">
            <h1>{{user['name']}}'s Profile</h1>
            <div class="row">

                <div class="col-sm-4">

                  {% if user['photo'] %}
                  <image id="profile_picture_settings" src="../static/profile_images/{{ user['photo'] }}" height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                  {% else %}
                  <image id="profile_picture_settings" src="../static/images/melon_aiv.jpg"  height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                  {% endif %}

                </div>
                <div class="col-sm-7">
                    <div class="bio_block" style="margin-right: 0px;">@{{user['username']}}
                        <div class="well" style="padding:auto; background:white; border-radius: 5px;">
                            <div class="text">{{user['bio']}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5" style="margin-top: 3px;">
                    <h4><span class="label label-default">followers: {{count}}</span>
                        <span class="label label-default">following: {{follow_count}}</span></h4>
                </div>
            </div>
            <div class="row" style="margin: 0px; padding: 0px; opacity: 1;">
                <div class="col-sm-2" style="padding: auto; margin: 0px; opacity: 1;">
                    <form action="{{url_for('home') }}" style="margin: 0px;">
                        <button id="homefeed_but" name="button" value="homefeed_but" style="padding: auto;">Home Feed</button>
                    </form>
                </div>
                <div class="col-sm-2" style="padding: 0; margin-top: 0px; background-colour: clear; opacity: 1;">
                  {% if session.username == user.username %}
                  <form action="{{url_for('profile_settings')}}">
                      <button id="profile_settings_but" name="button" value="settings_but" style="padding: auto;">Profile Settings</button>
                  </form>
                  {% endif %}
                </div>
            </div>
        </div>


        <div class="row" style="margin: 0px;">
            <div class="col-sm-12 col-md-3" style="margin: 0px; padding 0px;">
                <div class="well" style="margin=0px; padding: 0px;"> Following
                </div>
                <div class="question_holder">
                  <div class="transbox">
                    {% for person in following %}
                      <p>  <a href="{{url_for('profile', username=person['username'])}}">{{person['username']}}</a></p>
                      {% endfor %}
                  </div>
                </div>
                <div class="well" style="margin=0px; padding: 0px;"> Followers
                </div>
                <div class="question_holder">
                  <div class="transbox">
                    {% for person in followers %}
                    <p>  <a href="{{url_for('profile', username=person['username'])}}">{{person['username']}}</a></p>
                    {% endfor %}
                  </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-6">
                Your questions and answers
                {%for f in feed %}
                <div>
                    <input type="hidden" name="q_id" value="{{f["q_id"]}}">
                    <div class="transbox">
                      <div class="row">
                        <a href="{{url_for('question_answers', q_id=f['q_id'])}}" class="title">{{f["question"]}}</br></a>
                      </br>

                      {% if f["name"] != "" %}
                        <div class="col-md-2">
                          {% if f['thumbnail'] %}
                          <image id="profile_picture_settings" class="zoom" src="../static/profile_images/{{ f['thumbnail'] }}" height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                          {% else %}
                          <image id="profile_picture_settings" class="zoom" src="../static/images/melon_aiv.jpg"  height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                          {% endif %}
                        </div>
                        <div class="col-md-10">

                          <p style="font-size: 25px">{{f["name"]}}</p>
                          <p> {{f["time"]}} </p>
                          <p style="font-size: 20px">{{f["content"]}}</p>
                        </br>
                        </div>

                    </br>
                    {{f["upvotes"]}} Upvote(s)
                    <form method="post" action="{{url_for('vote', q_id=f["q_id"], a_id=f["a_id"], loc="profile_home")}}" style="text-align: right;">
                      <button type="submit" class="{{f["class_upvote"]}}">Vote</button>
                    </form>
                    {% endif %}

                    <form method="post" action="{{url_for('bookmark', q_id=f["q_id"], loc="profile_home")}}" style="text-align: right;">
                      <button type="submit" class="{{f["class_bookmark"]}}">Bookmark</button>
                    </form>

                    <form method="post" action="{{url_for('post_answer', q_id=f["q_id"], loc="profile_home")}}">
                    <button data-toggle="collapse" data-target="#{{f["q_id"]}}" type="button" class="btn answer">Answer</button>
                    <div id="{{f["q_id"]}}" class="collapse">
                        <p><label><input type="text" size="55%" class="reply-area" name="answer"><button type="submit" class="reply">post</button></label></p>
                    </div>
                    </form>
                  </div>
                </br>
                  <hr />
                  </div>
                </div>
                {% endfor %}
          </div>

          <div class="col-sm-12 col-md-3">
            {% if session.username == user.username %}
            <div class="well" style="background-color:#69a2b0; margin-bottom=0px;"> Bookmarked questions</br>
              {% for b in bookmarks %}
              <a href="{{url_for('question_answers', q_id=b['id'])}}">{{b['text']}}</a>
              <hr />
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </body>
</html>
{% endblock %}
