{% block body %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../static/question_answers.css">
        <title>Melon Heads!</title>
    </head>

    <body background="">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="hero-image" style="min-height: 100px">
                <div class="hero-text">
                    <h1 style="font-size: 50px"> Watermelon </h1>
                </div>
            </div>
        </nav>

        <div class="nbcontainer" style="margin-right:0px; margin-left:0px; padding:0px; ">
          <ul >
           <li><a href="{{url_for('home')}}">Home</a></li>
           <li><a href="{{url_for('profile', username=session.username)}}">Profile</a></li>
         </ul>

            <div class="row" style="margin:auto;">
                <div class="col-sm-3"></div>

                <div class="col-sm-8">
                    <h3>{{q["text"]}}</h3>

                    <form method="post" action="{{url_for('bookmark', q_id=q["id"], loc="home")}}" style="text-align: right;">
                      <button type="submit" class="{{class_bookmark}}">Bookmark</button>
                    </form>

                    <form method="post" action="{{url_for('post_answer', q_id=q["id"], loc="question")}}">
                    <button data-toggle="collapse" data-target="#{{q["id"]}}" type="button" class="btn answer">Answer</button>
                    <div id="{{q["id"]}}" class="collapse">
                        <p><label><input type="text" size="55%" class="reply-area" name="answer"><button type="submit" class="reply">post</button></label></p>
                    </div>
                    </form>
                    <hr />

                    {%for ans in answers %}
                    <div>
                        <div class="transbox">
                          <div class="row">
                            <div class="col-md-2">
                              {% if ans['thumbnail'] %}
                              <image id="profile_picture_settings" class="zoom" src="../static/profile_images/{{ ans['thumbnail'] }}" height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                              {% else %}
                              <image id="profile_picture_settings" class="zoom" src="../static/images/melon_aiv.jpg"  height="100" onerror="this.onerror=null;this.src='images/watermelon%20round.png"></image>
                              {% endif %}
                            </div>
                            <div class="col-md-10">

                              <p style="font-size: 25px">{{ans["name"]}}</p>
                              <p> {{ans["time"]}} </p>
                              <p style="font-size: 20px">{{ans["content"]}}</p>
                            </br>
                            </div>

                        </br>
                        {{ans["upvotes"]}} Upvote(s)
                        <form method="post" action="{{url_for('vote', q_id=q["id"], a_id=ans["a_id"], loc="question")}}" style="text-align: right;">
                          <button type="submit" class="{{ans["class_upvote"]}}">Vote</button>
                        </form>
                      </div>
                      <hr />
                      </div>
                    </div>
                    {% endfor %}

                </div>
            </div>


        </div>

        <script src="homefeed.js"></script>
    </body>

</html>
{% endblock %}
