{% block body %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../static/results.css">
        <title>Search Results</title>
    </head>

    <body>

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="hero-image" style="min-height: 100px">
          <div class="hero-text">
            <h1 style="font-size: 50px"> Search Results </h1>
          </div>
        </div>
      </nav>

        <div class="nbcontainer">
          <div class=row>

          <div class=" hidden-sm hidden-xs col-sm-3">
            <img src="../static/images/advert1.jpg" width="100%" height="auto">
          </div>
          <div class="col-sm-6">
            <ul >
             <li><a href="{{url_for('home')}}">Home</a></li>
             <li><a href="{{url_for('profile', username=session.username)}}">Profile</a></li>
           </ul>

           <form method="post" action="{{url_for('search') }}">
               <div>
                   <input type="text" name="search"><button type="submit" class=" btn search" >search</button>
               </div>
           </form>

           {% include 'includes/_messages.html' %}
           {% for result in results %}
          <div class="transbox">
            <div class="row">
              <div class="col-md-2">
                <img src="../static/profile_images/{{result['photo']}}" width="100" height="100">
              </div>
              <div class="col-md-10">
                <form method="post" action="{{url_for('follow_user', u2=result['username'])}}">
                <a href="{{url_for('profile', username=result['username'])}}" class="name">{{result['name']}}</a> <h4 style="color: grey;">@{{result['username']}}</h4></br>
                <p>{{result['bio']}}</p>
                <button type="submit" class="{{result['class_follow']}}">Follow</button>
                {% include 'includes/_messages.html' %}
              </form>
              </div>
            </div>
          </div>
          <hr />
          {% endfor %}

        </div>

          <div class="hidden-sm hidden-xs col-sm-3">
            <img src="../static/images/advert3.jpg" width="100%" height="auto">
            <img src="../static/images/congrats.gif" width="100%">
          </div>
        </div>
      </div>
        <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
        </script>
    </body>

</html>
{% endblock %}
